#app {
    display: grid;
    grid-template-columns:  1fr 2.2fr;

    height: 100vh;
    overflow: auto;
}

body {
    background-color: var(--shape-background);
}

.aside-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 1.25rem;
}

.image-wrapper {
    position: absolute;
    top: 1.25rem;
    bottom: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;

    border-radius: .75rem;
    overflow: hidden;  
    z-index: 0;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0;
}

.descricao-cvt {
    position: relative;
    z-index: 1;
    padding: 28px 32px 0;
}

h1 {
    font: var(--text-logo);
    color: #FF598B;
    margin-bottom: 1rem;
}

 & h3 {
        font: var(--text-heading-sm);
        color: var(--text-heading);
    }

.title {
    margin-bottom: 1.5rem;

    & h3 {
        font: var(--text-heading-xs);
        color: var(--text-heading);
    }
}





